<h1>Party</h1>

<p>
  There are <%=@quests.count.to_s%> quests in this category
</p>
<ul> 
  <% for quest in @quests %> 
      <li><%= quest.title; %> <%= link_to 'Show',  quest%></li> 
  <% end %> 
</ul>