<h1>About Us</h1>

<dl>
  <dt> <%=image_tag("sergei.jpg", alt: "sergei")%>Sergei Fladung</dt>
   <dd>Sergei is our brain behind the scenes and is responsible for the business logic</dd>
   <dd>sergei.fladung@fh-muenster.de</dd>
   <dd>0151-7654321</dd><br />

  <dt> <%=image_tag("max.jpg", alt: "max")%>Max Humpert</dt>
   <dd>Max is our Web-Engeneering expert and responsible for our homepage</dd>
   <dd>max.humpert@fh-muenster.de</dd>
   <dd>0160-1234567</dd><br />

  <dt> <%=image_tag("eddy.jpg", alt: "eddy")%>Edgar Hauzel</dt>
   <dd>Edgar is the database in person</dd>
   <dd>edgar.hauzel@fh-muenster.de</dd>
   <dd>0171-89182736</dd><br />

  <dt> <%=image_tag("tim.jpg", alt: "tim")%>Tim Kahler</dt>
   <dd>Tim is responsible for Marketing</dd>
   <dd>tim.kahler@fh-muenster.de</dd>
   <dd>0163-1736529</dd>

</dl>
