<h1>Welcome Challengers!  <%=image_tag("Unknown.jpeg", alt: "Example Image")%></h1>



<p>
  Congratulations! You are one step ahead of your friends. Why? <br>
  Our website allows you to challenge your friends on a whole new level. You can create quests, accept challenges and see if you will make it to the top of the challenge-point ranking list!
  You got interested? <br>
  Dont waste more time reading, get registered, tell it to your friends and gain your first points by completing your first challenge!

  <p>Have Fun!</p>

  <p>Your Challenge Accepted Team</p>
</p>

<%= link_to "Let's get started", "/users/sign_up" %>