<h1>Ranking</h1>

<p>
  Lorem ipsum:
</p>
<ul>
  <% @list= @quests.sort_by { |m| m[:points] } %>
  <% for quest in @list
      if quest.user_id == current_user.id %>
      <li><%= quest.title; %>
        <%= quest.points; %>
      </li>   <% end %><% end %>
</ul>